.down-arrow, .up-arrow,
.left-arrow, .right-arrow,
.vertical-arrow-line, .horizontal-arrow-line {
  width: 0px;
  height: 0px;
  position: absolute;
}

.down-arrow, .up-arrow, .vertical-arrow-line {
  border-left: 2px solid red;
}

.left-arrow, .right-arrow, .horizontal-arrow-line {
  border-top: 2px solid red;
}

.down-arrow:before, .up-arrow:before,
.left-arrow:before, .right-arrow:before {
  content: '';
  height: 5px;
  width: 5px;
  border: 2.5px solid transparent;
  position: absolute;
  border-bottom-color: red;
  border-right-color: red;
}

.down-arrow:before {
  top: 100%;
  transform: rotate(45deg) translate(-100%, -15%);
}

.up-arrow:before {
  top: 0%;
  transform: rotate(225deg) translate(50%, -40%);
}

.right-arrow:before {
  left: 100%;
  transform: rotate(-45deg) translate(-15%, -100%);
}

.left-arrow:before {
  left: 0%;
  transform: rotate(-225deg) translate(-40%, 50%);
}

/*--------------------------------------------------------------------------------
Posições das setas na animação
--------------------------------------------------------------------------------*/

#user-to-server-arrow {
  left: 81px;
  top: 175px;
}

#user-to-listener-line {
  left: 45px;
  bottom: 450px;
}

#user-to-listener-arrow {
  left: 45px;
  bottom: 525px;
}